<div class="formpg">
    <form class="fm">
        <h1 style="text-align: center;">Login</h1>
     <div class="img-container">
     <img id="im1" src="assets/images/avatar.png">
     </div>
     <div class="form-group">
         <label>Username</label>
      <input type="text" placeholder="Enter your name" name="uname" class="form-control">
     </div>
     <div class="form-group">
         <label>Password</label>
      <input type="password" placeholder="Enter your password" name="uname" class="form-control">
     </div>
     <a href="" style="color: red;">Forgot Password?</a>
     <br>
     <br>
     New User?
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <br>
    <br>
    <button type="submit" name="log" class="button" style="display: grid;margin: auto;">Login</button>
    <br>
    </form>
    </div>
